@{
    ViewBag.Title = "Index";
}


    <img class="img-thumbnail" src="~/images/bird.jpg" alt="" width="300" height="300" asp-append-version="true" />

    <h2>@(_config.GetValue<bool>("Person:IsUserAccount"))</h2>
    <h2>@(_config.GetValue<string>("Person:Bio:Name"))</h2>
    <h2>@(_config.GetValue<int>("Person:Bio:Age"))</h2>

    <ol>
        @foreach (var hobby in _config.GetSection("Person:Bio:Hobbies").Get<List<string>>())
        {
            <li>@hobby</li>
        }
    </ol>


    @*<h2>@ViewBag.IsUserAccount</h2>

    <h2>@ViewBag.Name</h2>

    @*<h2>@ViewBag.Age</h2

    <ol>
        @foreach (var hobby in ViewBag.Hobbies)
        {
            <li>@hobby</li>
        }
    </ol>*@


    @*  <h2>@ViewBag.IsSync</h2>*@


    @* @{
    var name = "Aziz";
    var age = 18;

    <p>Hello</p>
    }

    @if(name != "Aziz")
    {
    <p>I am @name</p>
    } else
    {
    <text>I am not @name</text>
    }

    <p>Last week: @(DateTime.Now - TimeSpan.FromDays(7))</p>

    <p>He is @(age >= 18? "Elder" : "He is child")</p>


    <h1>His name is: @name</h1>

    <h1>This is a Index page</h1>*@

