@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Hello_World.Models.Product

@*@{
    var product = ViewData["Product"] as Product;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>@ViewData["Title"]</title>*@
    <title>@ViewBag.Title</title>
</head>
<body>

    <div>
        <h4>Product</h4>
        <hr />

        <table border="1" width="85%">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>

                    <th>
                        Title
                    </th>

                    <th>
                        Email
                    </th>

                    <th>
                        Website
                    </th>

                    <th>
                        Price
                    </th>

                    <th>
                        Description
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        @Model.Id
                    </td>

                    <td>
                        @Model.Title
                    </td>

                    <td>
                        @Model.Email
                    </td>

                    <td>
                        @Model.Website
                    </td>

                    <td>
                        @Model.Price
                    </td>

                    <td>
                        @Model.Description
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <a asp-controller="Products" asp-action="Products">back to product list</a>
    </div>
</body>
</html>
