@model IEnumerable<Hello_World.Models.Product>
@using Hello_World.Extensions;
@using Hello_World.Models;

@{
    ViewBag.Title = "Products";
}

<div>
    <h1>@HttpContextAccessor.HttpContext.Session.GetString("_UserName")</h1>
    <h1>@HttpContextAccessor.HttpContext.Session.GetInt32("_Age")</h1>
    <h1>@(HttpContextAccessor.HttpContext.Session.Get<bool>("_bool"))</h1>

    <h4>Product</h4>
    <hr />

    <h1>Person Object</h1>

    @{
        var person = HttpContextAccessor.HttpContext.Session.Get<Person>("_Person");

        <h2>@person.Name</h2>
        <h2>@person.Age</h2>
        <h2>@person.Amount</h2>
    }


    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    ID
                </th>

                <th>
                    Title
                </th>

                @* <th>
                Price
                </th>*@
            </tr>
        </thead>

        <tbody class="table-group-divider">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>

                    <td>
                        <a asp-controller="Products" asp-action="Detail" asp-route-id="@item.Id" asp-route-pname="@item.Title">@item.Title</a>
                    </td>

                    @* <td>
                @item.Price
                </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>

